@use "./global-forward.scss" as global;

.login-form {
  @include global.flexBox(column, null, center);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  right: 3rem;
  padding: 0 3rem;
  width: 454px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.598);
  background-size: cover;
  border-radius: 50px;
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // backdrop-filter: blur(10px);
    border-radius: 50px;
  }
  .el-input__wrapper {
    border-radius: 12px;
    width: 100%;
    height: 46px;
    font-size: 16px;
    &::v-deep .el-input__inner {
      border-radius: 8px;
      font-size: 16px;
    }
  }
  h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
    color: #0c0c0c;
  }
  .otp_number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    width: 140px;
    height: 36px;
    margin-left: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: #00a99d;
    cursor: pointer;
  }
  .login-input {
    
  }
  .login-btn {
    height: 45px;
    width: 100%;
    margin-top: 1rem;
    padding: 12px 20px;
    border-radius: 14px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background: #383838;
    background: linear-gradient(180deg, #2e2e2e 0%, #000000 100%);
    box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.25), /* 外陰影 */
    inset 0 1px 0 rgba(255, 255, 255, 0.15); /* 內亮邊 */
    border: none;
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    &:hover {
      transform: translateY(-2px);
      color: #fff;
      box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.5),
        inset 0 1px 0 rgba(255, 255, 255, 0.25);
    }
    &:active {
      transform: translateY(1px);
      box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.4),
        inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
  }
}

.main-layout {
  @include global.flexBox(column, null, null);
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  display: flex;
  height: 100%;
  background-color: global.$light-100;
  overflow: hidden;
}

.page {
  @include global.flexBox(column, null, null);
  position: relative;
  height: 100%;
  overflow-y: auto;
  background-color: global.$gray-50;
  flex: 1;
}

.content {
  position: relative;
  width: 100%;
  min-width: 1200px;
}
