@use "./layouts.scss";
@use "./components/navigator.scss";

body,
html {
  // background-color: #212121;
  background: url("/src/assets/img/login_background.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
  color: #ccc;
}
